[submodule "compareFormat/lib/msgpack"]
	path = compareFormat/lib/msgpack
	url = https://github.com/msgpack/msgpack-objectivec
[submodule "compareFormat/lib/jsonkit"]
	path = compareFormat/lib/jsonkit
	url = https://github.com/johnezang/JSONKit.git
